n8n/workflows/RAG - Consultas.json
{
  "name": "RAG - Consultas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta-rag",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b3036d90-84a6-49f4-b2ed-5b16274e6564",
      "name": "Webhook",
      "webhookId": "629b3d89-f8e2-4c84-9d9a-13dd0bcc9450"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Debes buscar contexto para la siguiente pregunta utilizando la herramienta Qdrant Vector Store. Para usar la herramienta, debes pasarle estrictamente el parámetro \"input\" con el valor de la pregunta. La pregunta es: {{ $json.body.pregunta }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f63e1364-e3a2-4bda-a482-069b6a941cee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ],
      "id": "dbcfa943-2cf8-4875-886a-c94c203a45c3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "=llama3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "69dc7b52-e6f6-4c89-a82b-ec36ac8e2733",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "w6WESpQczCifuTa4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Herramienta para buscar en los apuntes. Es OBLIGATORIO que me pases lo que quieres buscar dentro del parámetro \"input\".",
        "qdrantCollection": {
          "__rl": true,
          "value": "=documentos_rag",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        272,
        272
      ],
      "id": "cf7f3fc6-6188-4025-b437-509e45e5f03f",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "niKbIRU4nqEumTlp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "=nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        272,
        464
      ],
      "id": "2b71cf26-a91e-4f0b-bca1-f25a1277ee3c",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "w6WESpQczCifuTa4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "consultas_rag",
          "mode": "list",
          "cachedResultName": "consultas_rag"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "respuesta": "={{ $json.output }}",
            "pregunta": "={{ $('Webhook').item.json.body.pregunta }}",
            "documentos_usados": "={{ [\"documentos_rag\"] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pregunta",
              "displayName": "pregunta",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documentos_usados",
              "displayName": "documentos_usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        0
      ],
      "id": "33e1e4d1-9fa2-4823-b6af-667f0b686a50",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "1xxVAEiHfyt9lxYp",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0b49ee47-608f-4e76-b247-57637d9cef82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08e6c6a47b8c3e565942fd78a40ee1e7f02391be2613ed06a9ab58c7771402af"
  },
  "id": "4H57_tP7hmx5Ond77nQ_v",
  "tags": []
}