n8n/workflows/RAG - Ingesta de Documentos.json
{
  "name": "RAG - Ingesta de Documentos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingesta-documento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f1ff1663-6ec5-4dfc-aa16-7624a17c5b17",
      "name": "Webhook",
      "webhookId": "e795f591-0d1a-4870-8d90-435e5afe26de"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Documento recibido correctamente",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        704,
        0
      ],
      "id": "f94105d1-c0e3-45d7-91f4-0dbf1c690794",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=documentos_rag",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "4def4ff4-3bb9-4f97-9b82-33b86579135a",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "niKbIRU4nqEumTlp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        416,
        208
      ],
      "id": "9b66ee38-04b0-4f9e-b157-6db42bebaa41",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        448,
        416
      ],
      "id": "1cb9695d-43ef-4550-8319-f0df0032b71a",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "model": "=nomic-embed-text"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "1d12742c-b26f-43d0-907c-7967ce83fea6",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "w6WESpQczCifuTa4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documentos",
          "mode": "list",
          "cachedResultName": "documentos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $('Webhook').item.json.body.filename }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ruta_archivo",
              "displayName": "ruta_archivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_chunks",
              "displayName": "num_chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_procesado",
              "displayName": "fecha_procesado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        0
      ],
      "id": "18ece7af-2dc5-43d0-9f99-1aebc4cecddd",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "1xxVAEiHfyt9lxYp",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "be91b2f9-0ac8-4912-9b97-beb6ec2a865d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08e6c6a47b8c3e565942fd78a40ee1e7f02391be2613ed06a9ab58c7771402af"
  },
  "id": "IblybWQUa_NbKDMnW2Vl2",
  "tags": []
}